<template name="chatBox">
    <div class="messages">
        {{#each messages}}
            {{> chatMessage}}
        {{/each}}
    </div>

    <div class="add-message">
        <p class="pull-left">
            {{> loginButtons}}
            <!-- add a tripcode type thing to validate a true user ala 4chan -->
            <!-- <input id="user" type="text" class="form-control" value="user"> -->
        </p>
        <div class="form-group">
            <input id="chat-message" class="form-control" placeholder="Write a message">
        </div>
        <div class="form-group clearfix">
            <button class='btn btn-primary' id='send'>Send Chat</button>
        </div>
    </div>
</template>