<template name="chatBox">
    <div class="messages">
        {{#each messages}}
            {{> chatMessage}}
        {{/each}}
    </div>

    <div class="add-message ui divided grid">
        <div class="four wide column">
            <div class="ui vertical">
                {{> loginButtons}}
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui fluid small action input vertical">
                <input id="chat-message" placeholder="Send message..." type="text">
                <div id="send" class="ui small green button">Send</div>
            </div>
        </div>
    </div>
</template>