<template name="songList">
    <div class="song-list">
        <h1>Last Songs</h1>
        {{#each songs}}
            {{#if rankid}}
                <div class="song">
                    <div class="pull-left">
                        <div class="rankdir {{rankdirection}}"></div>
                        <p class="rankid">{{rankid}}</p>
                        <p class="rankchange">{{rankchange}}</p>
                    </div>
                    <div class="pull-left">
                        <a href="http://www.nicovideo.jp/watch/{{smcode}}" target="_blank">
                            <h3>{{name}} <small>{{producer}}</small></h3>
                        </a>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</template>