.messages {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    border-top: none;
    bottom-left-border-radius: 3px;
    bottom-right-border-radius: 3px;
    position: relative;
}

.message-list {
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
}

.message {
    background-color: #CCC;
    padding: 5px;
    overflow: hidden;
    p { margin: 0; }
    .message-content {
        float: left;
    }
    span.username { font-weight: bold; }
    .timestamp {
        font-style: italic;
        font-size: 75%;
        text-align: right;
        float: right;
    }
}

.songbot-message {
    font-weight: bold;
    font-size: 150% !important;
    background-color: #e6f4f9;
    border: 1px solid darken(#e6f4f9, 30%);
    overflow: hidden;
    margin: 5px 0;
    div.rankid,
    span.songname {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    div.rankid {
        float: left;
        border-radius: 0;
    }
    span.songname {
        margin-top: -1px;
        display: block;
        float: left;
    }
}